@import "tailwindcss";

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Ensure CodeMirror fills container */
.cm-editor {
  height: 100% !important;
}

.cm-scroller {
  overflow: auto !important;
}
